<ngx-loading [show]="loader" [config]="{fullScreenBackdrop: true }"></ngx-loading>
<form class="modal-content animate" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- <div class="imgcontainer">
        <img src="/assets/img_avatar2.png" alt="Avatar" class="avatar">
    </div> -->

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" formControlName="name" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" formControlName="password" required>

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" name="remember" formControlName="remember"> Remember me
        </label>
    </div>
</form>