table {
    width: 100%;
    tr.mat-header-row{
        background-color: #369;
        th.mat-header-cell{
            color: white;
        }
    }
    tr.example-detail-row {
        height: 0;
    }
    
    tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
    }
    
    tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
    }
    
    .example-element-row td {
    border-bottom-width: 0;
    }
    
    .example-element-detail {
    overflow: hidden;
    display: flex;
    }
    
    .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
    }
    
    .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
    }
    
    .example-element-description {
    padding: 16px;
    }
    
    .example-element-description-attribution {
    opacity: 0.5;
    }

    .editOptions{
        margin: 10px;
        margin-left: 70px;  
        .update{
            margin-right: 10px;
        }
    }
}
.table-header-container{
    h2{
        float: left;
        margin-top: 8px;
    }
    .table-header-options{
        float: right;
        .search-container{
            margin-right: 10px;
        }
    }
}